* {
    box-sizing: border-box;
}
a {
    text-transform: uppercase;
    margin: auto 10px;
    text-decoration: none;
    color: white;
    font-size: 10px;
}
p {
    font-size: 1.1em;
}
body {
    font-family: "Open Sans", Arial, sans-serif;
    display: block;
    margin: 1px;
    font-size: 10px;
}
div, section {
    font-size: 12px;
}
.box-1 {
    background: url(../images/slide_03.jpg);
    color: #fff;
    padding-top: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    clear: both;
}
.first {
    height: 300px;
}
.logo {
    float: left;
}
.menu {
    list-style: none;
    float: right;
}
li {
    float: left;
    display: block;
    height: 30px;
    text-align: center;
}
.button-1 {
    border: 0px;
    padding: 10px;
    border-radius: 15px;
    background: #84cc86;
    color: white;
    margin-top: 10px;
    text-transform: uppercase;
}
.container-2 {
    max-width: 100%;
    text-align: center;
}
header {
    height: 150px;
}
h4 {
    margin: auto;
    text-transform: uppercase;
}
h1 {
    font-size: 2em;
    margin-top: 0px;
    text-transform: uppercase;
}
.service__item {
    background: white;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
    box-shadow: 0 0 20px -5px;
}
.what-we-do {
    background: white;
    padding: 50px 0;
}
.caption-1 {
    margin: auto;
    text-align: center;
    text-transform: uppercase;
}
.caption-2 {
    margin: auto;
    text-align: center;
    color: white;
    text-transform: uppercase;
}
hr {
    max-width: 50px;
    border-width: 1.5px;
    border-color: black;
}
hr.white {
    max-width: 50px;
    border-width: 1.5px;
    border-color: white;
}
.row.service {
    padding-top: 50px;
}
.container-3 {
    max-width: 1140px;
    margin: auto;
}
.eat {
    background: url(../images/what-we-do-bg.png);
    color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 50px 0;
    clear: both;
}
.button-2 {
    display: block;
    float: left;
    border: 0px;
    padding: 10px;
    border-radius: 15px;
    background: #fff;
    color: black;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: -15px;
    font-size: 1.1em;
    text-transform: uppercase;
}
.button-3 {
    display: block;
    float: left;    
    border: 0px;
    padding: 10px;
    border-radius: 15px;
    background: #84cc86;
    color: white;
    margin-top: 10px;
    margin-right: 10px;
    font-size: 1.1em;
    text-transform: uppercase;
}
.picture-1 {
    width: 100%;
    padding: 20px 0;
}
.eat img {
    width: 100%;
}
.our-portfolio {
    background: white;
    padding: 50px 0;
}
.portfolio {
    padding-top: 20px;
}
.portfolio__item {
    padding: 10px 0;
}
.Our-blog {
    background: url(../images/blog-bg.png);
    padding: 50px 0;
}
.blog-posts {
    padding-top: 50px;
}
img {
    max-width: 100%;
}
.post1 {
    position: relative;
    margin-bottom: 20px;
}
.meta {
    position: absolute;
    left: 0;
    bottom: 4px;
    background: #54525296;
    width: 100%;
    padding: 15px;
    height: 75px;
    color: white;
}
.post2 {
    position: relative;
    margin-bottom: 20px;
}
.post3 {
    position: relative;
    margin-top: 25px;
}
.website-statistics {
    margin: 40px auto;
}
.statistics {
    background: #efefef;
    text-align: center;
    margin: 15px 0;
    padding: 30px;
    text-transform: uppercase;
}
.stat{
    font-size: 1.7em;
    color: #8BC34A;
    font-weight: bold;
    margin: auto;
}
.meta-stat {
    font-size: 1.2em;
    color: gray;
    padding-top: 15px;
}
.contacts {
    background: url(../images/contact-bg.png);
    padding: 50px 0;
}
.container-4 {
    max-width: 1140px;
    margin: auto;
}
.map {
    margin-bottom: 15px;
}
#name {
    width: 100%;
    margin-bottom: 15px;
    font-family: Arial, sans-serif;
}
#e-mail {
    width: 100%;
    margin-bottom: 15px;
    font-family: Arial, sans-serif;
}
#message {
    width: 100%;
    height: 210px;
    background: #80808040;
    border: 0;
    padding: 10px;
    margin-bottom: 10px;
    color: white;
    font-size: 1.1em;
    font-family: Arial, sans-serif;
}
input {
    background: #80808040;
    border: 0;
    height: 30px;
    padding: 10px;
    color: white;
}
.send {
    display: block;
    float: left;
    border: 0px;
    padding: 10px;
    border-radius: 15px;
    background: #84cc86;
    color: white;
    text-transform: uppercase;
}
.box-message {
    margin: 0 -15px;
}
.title {
    margin-bottom: 50px;
}