* {
    box-sizing: border-box;
}
<<<<<<< HEAD
a {
    text-transform: uppercase;
    margin: auto 10px;
    text-decoration: none;
    color: white;
    font-size: 10px;
}
p {
    font-size: 1.1em;
}
body {
    font-family: "Open Sans", Arial, sans-serif;
=======
p {
	font-family: serif;
    font-size: 1rem
}
body {
    font-family: Arial;
>>>>>>> 36f6131a9a9e34165219ded51297add29172f637
    display: block;
    margin: 1px;
    font-size: 10px;
}
<<<<<<< HEAD
div, section {
=======
div, section, ul, li {
>>>>>>> 36f6131a9a9e34165219ded51297add29172f637
    font-size: 12px;
}
.box-1 {
    background: url(../images/slide_03.jpg);
    color: #fff;
    padding-top: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    clear: both;
}
.first {
    height: 300px;
}
.logo {
<<<<<<< HEAD
    float: left;
}
.menu {
    list-style: none;
    float: right;
=======
	font-size: 22px;
    float: left;
    width: 50%;
    text-align: left;
}
.menu {
    list-style: none;
    float: left;
    width: 50%;
    position: inherit;
    right: 0;
>>>>>>> 36f6131a9a9e34165219ded51297add29172f637
}
li {
    float: left;
    display: block;
<<<<<<< HEAD
    height: 30px;
    text-align: center;
}
=======
    width: 90px;
    height: 30px;
    text-align: center;
}

>>>>>>> 36f6131a9a9e34165219ded51297add29172f637
.button-1 {
    border: 0px;
    padding: 10px;
    border-radius: 15px;
    background: #84cc86;
    color: white;
    margin-top: 10px;
<<<<<<< HEAD
    text-transform: uppercase;
}
=======
}
.container-1 {
    max-width: 1040px;
    margin: auto;
}

>>>>>>> 36f6131a9a9e34165219ded51297add29172f637
.container-2 {
    max-width: 100%;
    text-align: center;
}
header {
    height: 150px;
}
h4 {
<<<<<<< HEAD
    margin: auto;
    text-transform: uppercase;
}
h1 {
    font-size: 2em;
    margin-top: 0px;
    text-transform: uppercase;
=======
    font-size: 1em;
    font-family: sans-serif;
    margin-bottom: 5px;
}
h1 {
    font-size: 2rem;
    font-family: sans-serif;
    margin-top: 0px;
>>>>>>> 36f6131a9a9e34165219ded51297add29172f637
}
.service__item {
    background: white;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
    box-shadow: 0 0 20px -5px;
}
.what-we-do {
<<<<<<< HEAD
    background: white;
    padding: 50px 0;
}
.caption-1 {
    margin: auto;
    text-align: center;
    text-transform: uppercase;
}
.caption-2 {
    margin: auto;
    text-align: center;
    color: white;
    text-transform: uppercase;
=======
    background: #efefef;
    height: 100%;
}
.caption-1 {
    margin: auto;
    padding-top: 20px;
    text-align: center;
}
.caption-2 {
    margin: auto;
    padding-top: 20px;
    text-align: center;
    color: white;
>>>>>>> 36f6131a9a9e34165219ded51297add29172f637
}
hr {
    max-width: 50px;
    border-width: 1.5px;
    border-color: black;
}
hr.white {
    max-width: 50px;
    border-width: 1.5px;
    border-color: white;
}
<<<<<<< HEAD
.row.service {
    padding-top: 50px;
}
.container-3 {
    max-width: 1140px;
    margin: auto;
}
.eat {
    background: url(../images/what-we-do-bg.png);
    color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 50px 0;
=======
.container-3 {
    max-width: 1040px;
    margin: auto;
}
.info {
    margin-left: -15px;
    margin-right: -15px;
}
.eat {
    background: url(../images/what-we-do-bg.png);
    color: #fff;
    height: 450px;
    padding-top: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
>>>>>>> 36f6131a9a9e34165219ded51297add29172f637
    clear: both;
}
.button-2 {
    display: block;
    float: left;
    border: 0px;
<<<<<<< HEAD
    padding: 10px;
=======
    padding: 5px;
>>>>>>> 36f6131a9a9e34165219ded51297add29172f637
    border-radius: 15px;
    background: #fff;
    color: black;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: -15px;
<<<<<<< HEAD
    font-size: 1.1em;
    text-transform: uppercase;
=======
    font-size: 10px;
>>>>>>> 36f6131a9a9e34165219ded51297add29172f637
}
.button-3 {
    display: block;
    float: left;    
    border: 0px;
<<<<<<< HEAD
    padding: 10px;
=======
    padding: 5px;
>>>>>>> 36f6131a9a9e34165219ded51297add29172f637
    border-radius: 15px;
    background: #84cc86;
    color: white;
    margin-top: 10px;
<<<<<<< HEAD
    margin-right: 10px;
    font-size: 1.1em;
    text-transform: uppercase;
}
.picture-1 {
    width: 100%;
    padding: 20px 0;
}
.eat img {
    width: 100%;
}
.our-portfolio {
    background: white;
    padding: 50px 0;
}
.portfolio {
    padding-top: 20px;
=======
}
.picture-1 {
    text-align: right;
    margin-right: -15px;
    margin-top: 15px;
}
.our-portfolio {
    background: #efefef;
    height: 100%;
>>>>>>> 36f6131a9a9e34165219ded51297add29172f637
}
.portfolio__item {
    padding: 10px 0;
}
.Our-blog {
    background: url(../images/blog-bg.png);
<<<<<<< HEAD
    padding: 50px 0;
}
.blog-posts {
    padding-top: 50px;
}
img {
    max-width: 100%;
}
.post1 {
    position: relative;
    margin-bottom: 20px;
}
.meta {
    position: absolute;
    left: 0;
    bottom: 4px;
    background: #54525296;
    width: 100%;
    padding: 15px;
    height: 75px;
    color: white;
}
.post2 {
    position: relative;
    margin-bottom: 20px;
}
.post3 {
    position: relative;
    margin-top: 25px;
}
.website-statistics {
    margin: 40px auto;
}
.statistics {
    background: #efefef;
    text-align: center;
    margin: 15px 0;
    padding: 30px;
    text-transform: uppercase;
}
.stat{
    font-size: 1.7em;
    color: #8BC34A;
    font-weight: bold;
    margin: auto;
}
.meta-stat {
    font-size: 1.2em;
    color: gray;
    padding-top: 15px;
}
.contacts {
    background: url(../images/contact-bg.png);
    padding: 50px 0;
}
.container-4 {
    max-width: 1140px;
    margin: auto;
}
.map {
    margin-bottom: 15px;
}
#name {
    width: 100%;
    margin-bottom: 15px;
    font-family: Arial, sans-serif;
}
#e-mail {
    width: 100%;
    margin-bottom: 15px;
    font-family: Arial, sans-serif;
}
#message {
    width: 100%;
    height: 210px;
    background: #80808040;
    border: 0;
    padding: 10px;
    margin-bottom: 10px;
    color: white;
    font-size: 1.1em;
    font-family: Arial, sans-serif;
=======
    height: 100%;
}
.blog-posts {
    margin: 50px -15px;
}
.post2 {
    margin-bottom: 24px;
}
section.website-traffic {
    margin: 40px auto;
}
.traffic {
    background: #efefef;
    text-align: center;
    margin: 15px 0;
    padding: 15px;
}
.contacts {
    background: url(../images/contact-bg.png);
    height: 500px;
}
.container-4 {
    max-width: 1040px;
    margin: auto;
}
.plan {
    max-width: 100%;
    margin: 0 -15px;
}
#name {
    width: 100%;
}
#e-mail {
    width: 100%;
}
#message {
    width: 100%;
    height: 180px;
    background: #80808040;
    border: 0;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 10px;
    color: white;
    font-family: serif;
    font-size: 16px;
>>>>>>> 36f6131a9a9e34165219ded51297add29172f637
}
input {
    background: #80808040;
    border: 0;
    height: 30px;
    padding: 10px;
    color: white;
}
<<<<<<< HEAD
=======
.title {
    padding: 40px 0;
}
>>>>>>> 36f6131a9a9e34165219ded51297add29172f637
.send {
    display: block;
    float: left;
    border: 0px;
    padding: 10px;
    border-radius: 15px;
    background: #84cc86;
    color: white;
<<<<<<< HEAD
    text-transform: uppercase;
}
.box-message {
    margin: 0 -15px;
}
.title {
    margin-bottom: 50px;
=======
    margin-left: 15px;
}
.box-message {
    margin-right: -30px;
>>>>>>> 36f6131a9a9e34165219ded51297add29172f637
}